@import 'src/styles/utils';

.game {
  &-container {
    @include flex(column, center, stretch);

    width: 100%;
    min-height: 100%;
  }

  &-steps {
    background-color: #fff;
  }

  &-title {
    padding: 0 1rem;
    margin: 0;
    color: #fff;
    text-align: center;
    text-shadow: #333 2px 2px 2px;
  }

  &-content {
    @include flex(column, center, center);

    width: 100%;
    min-height: 100%;
    padding: 1rem;
    gap: 2rem;
  }
}
